.App {
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 15px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.header > a {
  text-decoration: none;
  color: #828786;
}

.body {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.calculator {
  text-align: center;
}

.shortTitle {
  display: none;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 20px;
}

.icon {
  font-size: 2rem;
  margin: 0.7rem;
  color: #3c3f3e;
}

#githubIcon:hover {
  color: black;
}

@media screen and (max-width: 550px) {
  .urlTitle {
    display: none;
  }

  .shortTitle {
    display: block;
  }
}

@media screen and (max-height: 520px) {
  .footer{
    display: none;
  }
}
